{% extends 'base.html.twig' %}

{% set ticket = app.session.get('ticket') %}
{% set arrivalDate = app.session.get('arrivalDate') %}
{% set departDate = app.session.get('departDate') %}

{% block body %}
    <div class="container">
        <div class="row">
            {# Partie chambre réservation #}
            <div class="col-md-6 text-center pt-3">
                <div class="container-fluid" id="{{ room.roomtype.name|lower }}-room"></div>
                <h1>{{ "room"| trans }} {{ room.id }}</h1>
                <h2>Type : {{ ('index.' ~ room.roomtype.name|lower) | trans }}</h2>
                <p>{{ "price"| trans }} : <strong>{{ room.roomtype.price }} €</strong></p>
                <p>
                    {{ "smoker"| trans }} :
                    {% if room.smokingAllowed %}
                        <i class="fas fa-check-circle"></i>
                    {% else %}
                        <i class="fas fa-times-circle"></i>
                    {% endif %}
                </p>
                <p>
                    {{ "animals"| trans }} :
                    {% if room.animalAllowed %}
                        <i class="fas fa-check-circle"></i>
                    {% else %}
                        <i class="fas fa-times-circle"></i>
                    {% endif %}
                </p>
                <p>
                    {{ "handiccaped"| trans }} :
                    {% if room.handicappedAccess %}
                        <i class="fas fa-check-circle"></i>
                    {% else %}
                        <i class="fas fa-times-circle"></i>
                    {% endif %}
                </p>
                <div class="col-12">
                    <p>{{ "from"|trans }} <strong>{{ arrivalDate }}</strong> {{ "to"|trans }} <strong>{{ departDate }}</strong></p>
                </div>
            </div>

            {# Partie paiement #}
            <div class="col-md-6 bg-dark text-center">
                {% if ticket %}
                    <div style="margin-top: 20px" class="container-fluid" id="card-payment"></div>
                    <h3 class="text-white">{{ "holder"|trans }} :</h3>
                    <input type="text" id="titulaire" class="form-control"/>
                    <h3 class="text-white">{{ "cardCode"|trans }} :</h3>
                    <input type="text" id="codeCb" class="form-control"/>


                    <div class="row">
                        <div class="col-sm">
                            <h3 class="text-white">{{ "expiryDate"|trans }} :</h3>
                            <input type="text" id="expirationDate" class="form-control"/>
                        </div>
                        <div class="col-sm">
                            <h3 class="text-white">{{ "cipher"|trans }} :</h3>
                            <input type="text" id="cryptogtamme" class="form-control"/>
                        </div>
                    </div>

                    <button style="margin-top: 20px" type="button" class="btn btn-warning btn-block">
                        {{ "submit"|trans }}
                    </button>
                {% else %}
                    <a style="margin-top: 20px; margin-bottom: 20px" href="{{ path('user_login') }}"
                       class="btn btn-light">
                        {{ 'navbar.connect'|trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#arrivalDate, #departureDate").datepicker({
                format: "dd/mm/yyyy"
            });

            $('#arrivalDate').datepicker()
                .on("changeDate", function (e) {
                    console.log(e.date);
                    $("#departureDate").datepicker('setStartDate', e.date);
                });
            $('#arrivalDate').datepicker('setStartDate', new Date());

            $('#departureDate').datepicker()
                .on("changeDate", function (e) {
                    $("#arrivalDate").datepicker('setEndDate', e.date);
                });

            $('#expirationDate').datepicker({
                format: "mm/yyyy",
                minViewMode: 1,
                language: "fr",
                autoclose: true
            });
        })
    </script>
{% endblock %}